<template>
  <require from="ViewModels/Prompt"></require>
  <div class="applicant-list">
    <div class="list-group">
      <div repeat.for="applicant of applicants" class="row list-group-item list-group-item-action">
        <div class="col-md-8 ">
        <a  class=" ${applicant.id === $parent.selectedId ? 'active' : ''}" route-href="route: applicants; params.bind: {id:applicant.id}" click.delegate="$parent.select(applicant)">
        <strong>${applicant.name} ${applicant.familyName}</strong><br>
        <small>${applicant.emailAddress}</small>
      </a>
        </div>
        <div class="col-md-4">
          <div class="row">
          <button  class="material-icons" click.delegate="delete(applicant)"
           >&#xE872;</button>
           <button  class="material-icons" click.delegate="Edit(applicant)"
           >&#xE254;</button>
          </div>
           <!-- <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i> -->
        </div>
    </div>
    </div>
  </div>	
</template>


